:root {
  --black-color: #222831;
  --dark-color: #393E46;
  --grey-color: #EEEEEE;
}

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.App {
  min-width: 100%;
  background-color: var(--black-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 10px 10px 0 10px;
}

.App-header {
  background-color: var(--dark-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--dark-color);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.header-side {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.header-link {
  color: var(--grey-color);
  text-decoration: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.all-posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post {
  background: var(--dark-color);
  border-radius: 16px;
  padding: 16px;
}

.post > h1 {
  color: var(--grey-color);
  font-size: 40px
}

.post > p {
  color: var(--grey-color);
}
